@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
//

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";


*{
    //height: 200vh;
    margin: 0;
    padding: 0;

    hr{
        background-color: $text;
    }
    
}

.navbar{
    .navbar-brand{
        //display: flex;
        align-items: center;
    }
    
}

.hero{
    height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/img/IMG_0162.jpg');
        background-position: 0;
    .hero-body{
        height: 110vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        
        .level-right{
            
            background-color: black;
            color: white;
            
        }
       
    }
}

.mobile-landing{
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/img/oz.jpg');
    background-position: left 0px top 80px;

    
    
}
#blm{
    background-color: black;
    color: white;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 76%
}

.about{
   // background-color: red;
    text-align: center;
    
    h1, h3, button{
        margin: 20px;
    }
    hr{
        color: black;
    }

}






















@media only screen and (max-width: 1023px) { //touch
   .hero{
    display: none;
   }

   
  }

  @media only screen and (min-width: 1024px){
    .mobile-landing{
        display: none;
    }

    #blm{
        display: none;
    }
  }